header{
  width: 100%;
  height: 60px;
}

header .header-content-1 i{
  padding-right: .8rem;
  color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}
header .header-content-1{
  position  : relative;
  background: var(--black-primary);
}
header .header-content-1 h2{
  font-family: var(--raleway);
}

header .header-content-1 img{
    border: 1px solid var(--blanco);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1.5rem;
}



header .header-content-2{
  position  : relative;
  background: var(--orange);
}
header .header-content-2 .header-content-d{
  list-style: none;
}

header .header-content-1::before{
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 60px solid var(--orange);
  border-left: 150px solid var(--black-primary);
  right: 0;
}

strong{
  margin-left: .5rem;
}
.iniciales{
  border: 2px solid white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.close{
  cursor: pointer !important;
}

@media screen and (max-width:992px) {
  .header-content-2{
    flex-direction: column;
    position: absolute !important;
    width: 100% !important;
    z-index: 10 !important;
    transition: all 1s;
    top: -100%;
  }
  .header-content-d{
    display: flex;
    flex-direction: column;
    padding: 0 !important;
  }
  .header-content-d li{
    padding-top: 1rem;
    cursor: pointer;
    width: 100%;
    text-align: center;
  }

  .header-content-2 strong {
    cursor: pointer;
    justify-content: center !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  header .header-content-1::before{
    display: none;
  }
}
