<div class="info d-flex justify-content-center align-items-center">
  <div>
    <h4 class="text-center"> {{ practica.datosPractica.nombre }}</h4>
    <p class="text-center"><strong>Codigo de Practica</strong>: {{ codigo }}</p>
    <h3 class="text-center">{{ practica.info.numEstudiantes }} Alumnos</h3>
    <h4 class="text-center">Calificaciones</h4>
    <h3 class="text-center">{{ practica.info.pendientes }} Pendientes</h3>
    <h3 class="text-center">{{ practica.info.aprobados }}  Aprobados</h3>
    <h3 class="text-center">{{ practica.info.reprobados }} Reprovados</h3>
    <!-- <h4 class="text-center">Corte Actual: <strong>1</strong></h4> -->
    <h4 class="text-center">Semestres: <strong *ngFor="let item of practica.info.semestres">{{ item }},</strong></h4>
  </div>
</div>
