<div class="practicas">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Alumno</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr
      *ngFor="let item of listStudiantes.datosPractica.estudiantes; let i=index"
      class="estudiante fila{{ i }}"
      (click)="calificacion_a(item,i)">
        <td>{{ item.cedula }}</td>
        <td>{{ item.nombresApellidos }}</td>
        <!-- <td class="text-end"><button type="button" class="btn btn-editar-student btn-outline-primary">Editar</button></td> -->
      </tr>
    </tbody>
  </table>

</div>
<div class="p-3 btns text-end">
  <button type="button"
          class="m-1 btn btn-outline-primary"
          data-bs-target="#exampleModal"
          data-bs-toggle="modal">Agregar</button>
  <button type="button" class="m-1 d-none btn btn-outline-danger">Eliminar</button>
  <button type="button"
          [class.disabled]="!selection"
          (click)="acceder_alumno()"
          class="m-1 btn btn-outline-success">Acceder</button>
</div>



<!-- MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo estudiante</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formAdd" (ngSubmit)="submit()">
          <div class="text-center">
            <input  type="text"
                    class="border"
                    formControlName="cedula"
                    name="cedula"
                    placeholder="Cedula"
                    required>
          </div>
          <div class="text-center">
            <input  type="text"
                    class="border"
                    formControlName="nombre"
                    name="nombre"
                    placeholder="Nombre"
                    required>
          </div>
          <div class="text-center">
            <input  type="text"
                    class="border"
                    formControlName="notaFinal"
                    name="notaFinal"
                    placeholder="notaFinal"
                    required>
          </div>

          <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
