/* You can add global styles to this file, and also import other style files */

:root{
  --black-primary: rgba(51, 51, 51, 1);
  --orange : orange;
  --blanco : white;
  --raleway: 'Raleway', sans-serif;
  --blue-segundary: rgba(81, 194, 198, 1);
}



.fon-family{
  font-family: var(--raleway);
}
.fon-size{
  font-size: 20px;
}

.close{
  top: 60px !important;
}

.regresar{
    top: 0;
    left: 0;
    width: 4rem;
    height: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background: var(--orange);
    transition: all 0.5s;
    cursor: pointer;
}
.regresar:hover{
  background: var(--black-primary);
}

.style-fila{
  background: var(--black-primary);
  color: white !important;
}



