<footer class="row m-0 position-absolute">
  <div class="col-12 col-lg-4 text-center">
    <img src="https://atlas.curn.edu.co/public/web/images/logoestamoscert2.png" alt="">
  </div>
  <div class="col-12 col-lg-4 d-flex flex-column text-center pt-5">
    <a href="#">Politica de tratamiento de datos personales</a><br>
    <a href="#">PQRS| Sistema para la gestion de quejas, reclamos, sugerencias y felicitaciones</a><br>
    <a href="#">Informacion y contactos</a><br>
    <a href="#">Asuntos y notificaciones judiciales</a><br>
    <p>Línea gratuita nacional    018005184324</p>
    <p> (605)6439499 | Centro Calle de la Soledad N° 5 -70 | Cartagena, Colombia</p>
    <p> (605)3198826 | Cra 54, N° 66-54 | Barranquilla, Colombia</p>
    <p style="font-size:8pt">
      Corporación Universitaria Rafael Núñez | Institución Universitaria | Vigilada Mineducación
      <br>
      Reconocimiento personería jurídica: Resolución 6644 del 5 de junio de 1985 Mineducación.
      <br>
      Institución de Educación Superior sujeta a inspección y vigilancia por parte del Ministerio de Educación Nacional.
    </p>
  </div>
  <div class="col-12 col-lg-4 text-center">
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
  </div>
</footer>
